
<div class="search-container col-xs-6 col-xs-offset-3">
    <div class="errors"></div>
    <div class="form-box">
        <h5 class="text-center"><span class="glyphicon glyphicon-info-sign text-info"></span><em> Enter the registration No. and stock ref No. separated by a space</em></h5>
        <!-- We would fill in the action and method attributes if we were wanting to enable graceful degredation. 
             Simply fire off the parameters to the backend using tradition request. -->
        <form action="" method="">
            <input name="ref" type="text" placeholder="Eg: SO06DNV ARNFH-U-5728" class="form-control" autocomplete="off">
            <button class="btn btn-info btn-block submit" type="submit">Search</button>
        </form>
    </div>
</div>        

  